body{
background-image: url('');
width: 100%;
max-width:100%;
max-height: 100%;
top: 0;
left: 0;
z-index: -50;
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 0;
margin: 0;
}
.row{
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 100%;
padding-bottom: 7%;
padding-top: 7%;
}

p{
font-family: oswald;
font-size: 110%;
}
h1, h2, h3, h4, h5, h6{
font-family: 'alegreya';
}
hr{
height: 1px;
border: none;
background-color: white;
width: 75%;
margin: 0 auto;
}
.ikone{
margin-top: 10%;
margin-bottom: 10%;
width: 90%;
-moz-transition: transform 0.5s ease;
-webkit-transition: transform 0.5s ease;
transition: transform 0.5s ease;
}
.ikone:hover{
-moz-transform: scale (1.1, 1.1);
-webkit-transform: scale (1.1, 1.1);
transform: scale(1.1, 1.1);
-moz-transition: transform 0.5s ease;
-webkit-transition: transform 0.5s ease;
transition: transform 0.5s ease;
}
.prva{
background-color: white;
}
.prva h1{
color: #473636;
}
.druga{
background-color: #473636; 
text-align: center;
}
.cetvrta{
background-color: #473636;
text-align: center;
color: white;
}
.cetvrta h1{
color: white;
}

.peta{
background-color: #6b5252;
text-align: center;
color: white;
}
.peta h1{
color: white;
}

.pitanje{
font-size: 500%;
line-height: 85%;
}
.sesta{
background-color: #eb6054;;
}
.sesta p, h1{
color: white;
}
.treca{
background-color: #eb6054;
}
.treca p, h1{
color: white;
}
.koraci p{
color: white;
}
.naslov{
text-align:right;
font-size: 500%;
}
.podnaslov{
text-align:right;
font-size: 350%;
color: white;
}

.uvod{
height: 100%;
z-index: -10;
background-color: #6b5252;
}

.cetvrta h3{
color: #eb6054;
}
.peta h3{
color: #eb6054;
}
.druga h1, h3{
font-size: 350%;
color: #eb6054;
}
.druga p{
color: white;
}
.druga2{
background-color: #6b5252; 
text-align: center;
}
.druga2 h1, h3{
font-size: 350%;
color: #eb6054;
}
.druga2 p{
color: white;
}
.naslovnice{
text-align: center;
font-size: 500%;
}
.gore{
background-color: #473636;
text-align: center;
}
.gore2{
background-color: #eb6054;
text-align: center;
}
.button{
background: none;
border: 2px solid white;
color: white;
transition: border-color 0.5s ease, color 0.5s ease;
-webkit-transition: border-color 0.5s ease, color 0.5s ease;
}
.button:hover{
background: none;
border-color: #eb6054;
color: #eb6054;
transition: border-color 0.5s ease, color 0.5s ease;
-webkit-transition: border-color 0.5s ease, color 0.5s ease;
}
.button.dva{
background: none;
border: 2px solid white;
color: white;
transition: border-color 0.5s ease, color 0.5s ease;
-webkit-transition: border-color 0.5s ease, color 0.5s ease;
}
.button.dva:hover{
background: none;
border-color: #473636;
color: #473636;
transition: border-color 0.5s ease, color 0.5s ease;
-webkit-transition: border-color 0.5s ease, color 0.5s ease;
}
@media (max-width: 640px){

}
